body{
    -webkit-filter: hue-rotate(70deg)saturate(120%);
    saturation: 120%;
}

@media only screen and (max-width:800px){
    .vid{
        margin-left:auto;
        width:100%;
        position:relative!important;

        margin-right:auto;
        background-size:70%!important;
        display:block;
        float:center;
        margin-left:18%;

        background-repeat:no-repeat;
    }
}
    .vid{
       margin-left:auto;
        width:100%;
        position:relative!important;

        margin-right:auto;
        background-size:80%!important;
        display:block;
        float:center;
        margin-left:10%;
      
        background-repeat:no-repeat;
    
    background-image:url('gif1.gif');
   
    }
