	body{
 	
   width:100%;
   max-width:100%!important;
   overflow:hidden;
   margin-left:auto;
   margin-right:auto;
    background-color:pink;
    background-size:cover;
    margin-bottom:100px!important;
    position:relative;
   background-repeat:no-repeat;
 	}
 	.thing1{
 		font-size:2em;
  position:aboslute;
    margin-top:50px;
    width:300px;
    margin-left:100px;
 		text-align:center;
 		margin-top:200px;
    color:blue;
  
 	}
 	.thing3{
 		
 		text-align:center;
 		font-size:1.5em;
    width:300px;
    position:absolute;
    margin-top:120px;
    margin-left:700px;
    color:blue;
 	}
 	.thing2{
 		text-align:center;
    font-size:1.5em;
    width:300px;
    position:fixed;
    margin-top:0px;
    margin-left:30%;
    color:blue;
  }

  .pg3{
    width:500px;
    height:400px;
    background-color:blue;
  }

.enter2{
    width:300px;
    height:300px;
    z-index:1;
    background-color:blue;
    position:relative;
    
}
@media only screen and (max-width:800px){
    .vid{
        margin-left:auto;
        width:100%;
        position:relative!important;

        margin-right:auto;
        background-size:70%!important;
        display:block;
        float:center;
        margin-left:18%;
        background-repeat:no-repeat;
    }
}
    .vid{
        position: relative;
    
        width: 210%!important;
    top: 3%!important;
    left: -25%!important;
    height: 220%!important;
    z-index:-111;
    
    
    background-size:cover;
    background-repeat:no-repeat;
   
    
    background-image:url('laterocean.gif');
   
    }
